#name
{
position:relative;
left:0%;
text-align:left;
}
#status
{
position:absolute;
right:10px;
text-align:right;
}
#DOB
{
position:absolute;
left:33%;
text-align:center;
}
#last
{
position:absolute;
right:33%;
text-align:center;
}
